.layout {
    height: 100%;
}

.header {
    margin: 24px 16px;
    background-color: rgb(255, 255, 255);
}

.header_title {
    margin: 0;
}

.content_wrapper {
    margin: 24px 16px;
    padding: 24px;
    background-color: rgb(255, 255, 255);
}